html {
  font-family: "Mulish", sans-serif;
}

body {
  background: #eeaeca;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 2000px;
}

.navbar-container {
  background: rgba(255, 255, 255, 1);
  padding: 15px;
  border-width: 1px;
  opacity: 1;
  border-radius: 25px;
  width: 90%;
  max-width: 1255px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-main {
  background-color: rgba(248, 249, 255, 1);
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 40px;
  max-width: 1255px;
  max-height: 178px;
}

.nav-links {
  display: flex;
  align-items: center;
  flex: 1 1 556px;
  .nav-link {
    padding: 20px 25px;
    border-radius: 15px;
    font-size: 16px;
  }
  .nav-link:hover {
    background-color: rgba(239, 241, 255, 1);
    outline: 1px solid rgba(221, 225, 249, 1);
  }
}

.nav-actions {
  display: flex;
  align-items: center;
  .btn-login {
    padding: 18px 30px 17px 25px;
  }
  .btn-signup {
    padding: 18px 25px 17px 30px;
    border-radius: 5px;
    background-color: rgba(15, 15, 52, 1);
    color: rgba(255, 255, 255, 1);
  }
}

.nav-item > a,
.nav-actions > a {
  text-decoration: none;
  font-weight: 700;
  color: rgba(15, 15, 52, 1);
  text-transform: uppercase;
}

.nav-item {
  position: relative;
  &:hover {
    .mega-menu {
      display: flex;
    }
  }
  .mega-menu {
    display: none;
    z-index: 100;
    position: absolute;
    top: 140%;
    left: 0;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 1);
    padding: 30px 35px;
    box-shadow: 0px 15px 30px rgba(45, 45, 140, 0.1);
    .menu-column {
      .column-title {
        font-weight: 900;
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        padding: 12px 0 0 15px;
      }
      .menu-list {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        a {
          display: block;
          padding: 12px 95px 11px 15px;
          text-decoration: none;
          color: rgba(0, 0, 0, 1);
          font-weight: 700;
          border-radius: 5px;
          font-size: 14px;
        }
        a:hover {
          background-color: rgba(248, 249, 255, 1);
        }
      }
    }
  }
}
